#all {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}
#all .sidebar-heading {
    font-family: "FreightNeoProLight";
    text-transform: capitalize
}
.site-content {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}
@font-face {
    font-family: "FreightNeoW03-Book";
    src: url("/font/FreightNeoBook.ttf");
  }
@font-face {
    font-family: "FreightNeoProLight";
    src: url("/font/FreightNeoProLight.otf");
}
@font-face {
    font-family: "FreightNeoW03-Medium";
    src: url("/font/FreightNeoMedium.ttf");
}

h1.sidebar-heading a {
    font-family: "FreightNeoW03-Medium";
    font-size: 26px;
    color: #41576d;
    letter-spacing: 0px;
    text-transform: initial;
}

.portfolio .head-text {
    background-color: rgb(247, 248, 249);
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 90px;
    padding-top: 110px;
}

.portfolio .head-text h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    text-transform: none;
}

.portfolio .head-text h1 {
    font-family: "FreightNeoW03-Book";
    font-weight: lighter;
    margin-bottom: 10px;
}

.portfolio .head-text p {
    font-family: "FreightNeoW03-Book";
    font-weight: lighter;
    color: #597188;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.box-masonry-description p {
    margin-bottom: 0px;
}
/* SINGLE */
.content-column-content {
    text-align: center;
}

.content-column-content p {
    margin-bottom: 0px;
}


.content-column-content img {
    margin-top: 24px;
    margin-bottom: 24px;
}